In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import sklearn as sk

In [13]:
data = pd.read_csv("C:\\Users\\Vandana\\Downloads\\Student_Performance.csv")
data

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [14]:
data = data[['Hours Studied','Previous Scores',"Sleep Hours","Sample Question Papers Practiced","Performance Index"]]
data

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,9,1,91.0
1,4,82,4,2,65.0
2,8,51,7,2,45.0
3,5,52,5,2,36.0
4,7,75,8,5,66.0
...,...,...,...,...,...
9995,1,49,4,2,23.0
9996,7,64,8,5,58.0
9997,6,83,8,5,74.0
9998,9,97,7,0,95.0
9999,7,74,8,1,64.0

In [36]:
x = np.array(data.drop(['Performance Index'],axis = 'columns'))
y = np.array(data['Performance Index'])

x_train, x_test, y_train, y_test = sk.model_selection.train_test_split(x,y,test_size = 0.1)

linear = sk.linear_model.LinearRegression()
linear.fit(x_train,y_train)
acc = linear.score(x_test,y_test)
print(acc)

print(linear.coef_)
print(linear.intercept_)

0.9888362705381899
[2.85482189 1.01814243 0.47145678 0.19775297]
-33.724161158719745

In [18]:
predictions = linear.predict(x_test)

for i in range(0,20):
    print(predictions[i],x_test[i],y_test[i])

75.40308521276779 [ 7 82  9  7] 78.0
41.438336017805774 [ 9 46  4  4] 44.0
30.671702817107736 [ 6 43  7  1] 30.0
61.372123852573345 [ 8 68  6  1] 69.0
51.550109745908706 [ 9 53  9  7] 52.0
71.8883795143243 [ 5 85  8  5] 75.0
38.47537515493301 [ 3 58  8  4] 39.0
42.4530647835962 [ 6 55  4  6] 41.0
49.87158700845168 [ 9 54  5  3] 53.0
89.80808092319052 [ 8 94  8  6] 88.0
89.89167506489628 [ 8 94  9  4] 91.0
36.97881824575641 [ 3 57  7  4] 35.0
36.69263338017188 [ 7 46  6  4] 37.0
29.4318773321447 [ 3 51  4  4] 29.0
73.73021684646775 [ 3 94  5  4] 72.0
48.56265029871248 [ 5 62  7  8] 45.0
76.4665992406074 [ 6 87  9  1] 74.0
44.76175973468447 [ 7 54  5  6] 45.0
59.841158644978286 [ 8 66  5  6] 61.0
57.87785007015574 [ 2 80  6  8] 55.0

In [49]:
d = []
HS = input("Enter number of hours studied: ")
PS = input("Enter previous score: ")
SH = input("Enter amount of hours slept: ")
SP = input("Enter number of sample papers practised: ")
d.append(HS)
d.append(PS)
d.append(SH)
d.append(SP)

p = linear.predict(np.array(d).reshape(1,-1))
if (p<=0):
    print("\n\nPerformance Index: 0")
elif (p>=100):
    print("\n\nPerformance Index: 100")
else:
    print("\n\nPerformance Index: ",p[0])

Enter number of hours studied: 7
Enter previous score: 78
Enter amount of hours slept: 4
Enter number of sample papers practised: 6


Performance Index:  68.74704664235324

C:\Users\Vandana\anaconda3\lib\site-packages\sklearn\base.py:566: FutureWarning: Arrays of bytes/strings is being converted to decimal numbers if dtype='numeric'. This behavior is deprecated in 0.24 and will be removed in 1.1 (renaming of 0.26). Please convert your data to numeric values explicitly instead.
  X = check_array(X, **check_params)